<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>

    <div class="card" *ngFor="let edu of educationData">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>{{ edu.from_to_year }}</p>
            <div class="h5">{{ edu.education }}</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">{{ edu.stream }}</div>
            <h4 class="category">{{ edu.institution }}</h4>
            <ul>
              <li *ngFor="let line of edu.info.split('\n')">{{ line }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
